.main-section {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin: 1rem 0px 0px 1rem;
}

.main-section h1,
h3,
input,
button {
  margin-top: 1rem;
}

.main-section form {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.terms-list {
  text-transform: capitalize;
}

.search-google-section {
  margin-left: 1rem;
}

.add-term {
  width: 100%;
}

.add-term input {
  width: 50%;
}

.add-email {
  width: 100%;
}

.add-email input {
  width: 50%;
}

.terms-list {
  margin: 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
}


@media screen and (max-width: 550px) {
  .sub-title {
    width: 90%;
  }

  .add-term input {
    width: 90%;
  }

  .add-email input {
    width: 90%;
  }

  .search-google-section {
    direction: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
  }
}